:host {
  display: block;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 10px 0;
}

.property {
  input {
    margin: 0 10px;
  }

  margin-bottom: 5px;
}

.actions {
  margin-top: 20px;
}

.primary {
  background-color: #dd0031;
  color: white;
}
