$background-color: #f3f3f3;

*:focus {
  outline: none;
}

.product {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.edit-button {
  &.active {
    background-color: grey;
  }
}

.json {
  font-size: 10px;
}

.header {
  b {
    font-size: 16px;
  }
}
